
/**
 *  Account Window
 */

.accountWindow span {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px;
    padding: 2px;
}

.accountWindow .profileFieldSet {
    margin: 32px auto;
    width: 200px;
}

.accountWindow .numberLabel {
    text-align: right;
    width: 60px;
    height: 20px;
}

.accountWindow .number {
    width: 100px;
    height: 20px;
}

.accountWindow .nicknameLabel {
    text-align: right;
    width: 60px;
    height: 20px;
}

.accountWindow .nickname {
    position: absolute;
    width: 100px;
    height: 20px;
    padding: 0;
    text-align: center;
}

.accountWindow .OK {
    position: absolute;
    width: 30%;
    height: 30px;
    bottom: 32px;
    left: 35%;
}
