
.chatroomWindow .logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 4px;
}

.chatroomWindow .identifier {
    float: left;
    width: 580px;
    margin: 4px;
}

.chatroomWindow .name {
    float: left;
    margin: 2px;
}

.chatroomWindow .number {
    float: left;
    margin: 2px;
}

.chatroomWindow .historyView {
    position: absolute;
    background-color: #eeeeee;
    width: 400px;
    height: 280px;
    top: 82px;
    left: 0;
    margin: 4px;
    border: 1px solid gray;
}

.chatroomWindow .input {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 70px;
    top: 366px;
    left: 0;
    margin: 4px;
    border: 1px solid gray;
    padding: 0;
}

.chatroomWindow .sendBtn {
    position: absolute;
    width: 80px;
    height: 30px;
    bottom: 4px;
    left: 326px;
}

.chatroomWindow .membersView {
    position: absolute;
    background-color: #e0e0f5;
    width: 220px;
    height: 388px;
    top: 82px;
    right: 0;
    margin: 4px;
    border: 1px solid gray;
}
