
.chatWindow .logoImageView {
    float: left;
    width: 40px;
    height: 40px;
    margin: 4px;
    background-color: transparent;
    background-image: url(../images/icon-120.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.chatWindow .identifierLabel {
    float: left;
    width: 580px;
    margin: 4px;
}

.chatWindow .nameLabel {
    float: left;
    margin: 2px;
}

.chatWindow .numberLabel {
    float: left;
    margin: 2px;
}

.chatWindow .historyView {
    position: absolute;
    margin: 4px;
    border-top: 2px solid #727377;
    border-left: 2px solid #727377;
    border-right: 2px solid #FFFCF9;
    border-bottom: 2px solid #FFFCF9;
    background-color: #eeeeee;
    padding: 2px;
    width: 396px;
    height: 268px;
    top: 82px;
    left: 0;
    overflow-y: auto;
}

.chatWindow .historyView .ts_cell {
    border-bottom: 1px dashed #FFFCF9;
    padding: 8px;
}

.chatWindow .historyView span {
    display: block;
}
.chatWindow .historyView .sent {
    text-align: right;
}
.chatWindow .historyView .name {
    color: darkblue;
    font-size: small;
}
.chatWindow .historyView .time {
    color: gray;
    font-size: small;
}
.chatWindow .historyView .content {
    margin: 8px 16px;
}

.chatWindow .messageView {
    position: absolute;
    margin: 4px;
    border-top: 2px solid #727377;
    border-left: 2px solid #727377;
    border-right: 2px solid #FFFCF9;
    border-bottom: 2px solid #FFFCF9;
    padding: 0;
    width: 400px;
    height: 72px;
    top: 360px;
    left: 0;
    background-color: white;
}

.chatWindow .sendButton {
    position: absolute;
    width: 80px;
    height: 30px;
    bottom: 4px;
    left: 326px;
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}

.groupChatWindow .membersView {
    position: absolute;
    margin: 4px;
    border-top: 2px solid #727377;
    border-left: 2px solid #727377;
    border-right: 2px solid #FFFCF9;
    border-bottom: 2px solid #FFFCF9;
    background-color: #E6E3E0;
    width: 220px;
    height: 386px;
    top: 82px;
    right: 0;
}

.groupChatWindow .membersView .ts_header {
    padding: 8px;
    border-bottom: 1px solid #727377;
    background-color: #D5D2CF;
}

.groupChatWindow .membersView .ts_cell {
    width: 100%;
    border-bottom: 1px dashed #FFFCF9;
    padding: 8px;
    background-color: #E6E3E0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
