
body {
    background-color: #387E83;
}

button {
    user-focus: none;
}

textarea {
    resize: none;
}

#tarsier-status {
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 2px 8px;
    z-index: 3333;
    background-color: #8e0000;
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    white-space: nowrap;
}

.ts_window {
    margin: 0;
    border-top: 2px solid #FFFCF9;
    border-left: 2px solid #FFFCF9;
    border-right: 2px solid #727377;
    border-bottom: 2px solid #727377;
    background-color: #D5D2CF;
}

.ts_window_title {
    margin: 2px;
    padding: 2px 8px;
    height: 24px;
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: -moz-linear-gradient(left, navy 0%, #e0e0f5 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, navy), color-stop(100%, #e0e0f5));
    background: -webkit-linear-gradient(left, navy 0%, #e0e0f5 100%);
    background: -o-linear-gradient(left, navy 0%, #e0e0f5 100%);
    background: -ms-linear-gradient(left, navy 0%, #e0e0f5 100%);
    background: linear-gradient(to right, navy 0%, #e0e0f5 100%);
}

.ts_window_close {
    position: absolute;
    border: 0;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../images/close.jpg);
    background-repeat: no-repeat;
    background-position: -2px -2px;
    background-size: 28px 28px;
    -moz-background-size: 28px 28px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/**
 *  Register Window
 */

.registerWindow .nicknameLabel {
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 20px;
    left: 60px;
    top: 80px;
}

.registerWindow .nickname {
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 20px;
    left: 100px;
    top: 110px;
}

.registerWindow .OK {
    position: absolute;
    width: 30%;
    height: 30px;
    bottom: 40px;
    left: 35%;
}

/**
 *  Login Window
 */

.loginWindow span {
    position: relative;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.loginWindow .nickname {
    width: 240px;
    height: 20px;
    top: 40px;
    left: 40px;
}

.loginWindow .number {
    width: 240px;
    height: 20px;
    top: 40px;
    left: 40px;
}

.loginWindow .identifier {
    width: 240px;
    height: 20px;
    top: 40px;
    left: 40px;
}

.loginWindow .OK {
    position: absolute;
    width: 30%;
    height: 30px;
    bottom: 40px;
    left: 35%;
}

/**
 *  About Window
 */

.aboutWindow {
    width: 240px;
    height: 320px;
}

.aboutWindow .banner {
    display: block;
    width: 80px;
    height: 80px;
    margin: 32px auto 8px;
    background-color: transparent;
    background-image: url(../images/icon-120.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.aboutWindow a {
    display: block;
    text-align: center;
}

.aboutWindow .version {
    display: block;
    margin: 28px;
    text-align: center;
}

.aboutWindow .copyright {
    display: block;
    margin: 4px;
    font-size: small;
    text-align: center;
}

.aboutWindow .OK {
    position: absolute;
    width: 30%;
    height: 30px;
    bottom: 40px;
    left: 35%;
}
