
.loginWindow span {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px;
    padding: 2px;
}

.loginWindow .profileFieldSet {
    margin: 20px auto;
    width: 240px;
}

.loginWindow .addressLabel {
    text-align: right;
    width: 60px;
    height: 20px;
    color: gray;
}

.loginWindow .address {
    width: 160px;
    height: 20px;
}

.loginWindow .numberLabel {
    text-align: right;
    width: 60px;
    height: 20px;
    color: gray;
}

.loginWindow .number {
    width: 100px;
    height: 20px;
}

.loginWindow .nicknameLabel {
    text-align: right;
    width: 60px;
    height: 20px;
    color: gray;
}

.loginWindow .nickname {
    width: 160px;
    height: 20px;
    font-weight: bold;
}

.loginWindow .OK {
    position: absolute;
    width: 30%;
    height: 30px;
    bottom: 16px;
    left: 35%;
    font-weight: bold;
}
