
button:focus {
    outline: 0;
}

.buttonNormal {
    border-top: 2px solid #FFFCF9;
    border-left: 2px solid #FFFCF9;
    border-right: 2px solid #727377;
    border-bottom: 2px solid #727377;
    background-color: #D7CED2;
}

.buttonActive {
    border-top: 2px solid #727377;
    border-left: 2px solid #727377;
    border-right: 2px solid #FFFCF9;
    border-bottom: 2px solid #FFFCF9;
    background-color: #D7CED2;
}

.mainWindow .navItem {
    margin: 4px 0 0 4px;
    width: 32px;
    height: 32px;
}

.mainWindow .mainList {
    margin: 4px;
    border-top: 2px solid #716E6B;
    border-left: 2px solid #716E6B;
    border-right: 2px solid #F7EEFB;
    border-bottom: 2px solid #F7EEFB;
    background-color: #8580A3;
    width: 228px;
    height: 456px;
    overflow-y: hidden;
}

.mainWindow .mainList .sectionHeader {
    position: relative;
    width: 100%;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
}

.mainWindow .mainList .sectionContent {
    margin: 0;
    border: 0;
    padding: 0;
    height: 360px;
}

.mainWindow .mainList .avatarBtn {
    display: block;
    width: 64px;
    height: 64px;
    margin: 16px auto 2px;
    border: 1px solid lightgray;
    padding: 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: transparent;
}

.mainWindow .mainList .avatarImg {
    width: 64px;
    height: 64px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.mainWindow .mainList .name {
    display: block;
    text-align: center;
    margin: 2px 8px 8px;
    font-weight: bold;
}

/**
 *  Functions
 */

.mainWindow .chatBtn {
    position: absolute;
    margin: 0 2px;
    width: 32px;
    height: 32px;
    left: 2px;
    bottom: 72px;
}
.mainWindow .searchBtn {
    position: absolute;
    margin: 0 2px;
    width: 200px;
    height: 32px;
    right: 2px;
    bottom: 72px;
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
}
.mainWindow .browserBtn {
    position: absolute;
    margin: 0 2px;
    width: 32px;
    height: 32px;
    left: 2px;
    bottom: 40px;
}
.mainWindow .msgBtn {
    position: absolute;
    margin: 0 2px;
    width: 200px;
    height: 32px;
    right: 2px;
    bottom: 40px;
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
}

/**
 *  DICQ
 */

.mainWindow .dicqBtn {
    position: absolute;
    margin: 0 2px;
    width: 192px;
    height: 32px;
    left: 2px;
    bottom: 4px;
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}

.mainWindow .iconBtn {
    position: absolute;
    margin: 0 2px;
    width: 36px;
    height: 32px;
    background-color: transparent;
    background-image: url(../images/icon-120.png);
    background-repeat: no-repeat;
    background-size: 32px 28px;
    -moz-background-size: 32px 28px;
    right: 2px;
    bottom: 4px;
}
