
.searchWindow .searchFieldSet {
    position: absolute;
    width: 240px;
    height: 220px;
    top: 60px;
    right: 20px;
}

.searchWindow .keywordsLabel {
    position: relative;
    margin: 10px;
    top: 20px;
}

.searchWindow .keywords {
    position: relative;
    width: 120px;
    top: 20px;
}

.searchWindow .OK {
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 20px;
    left: 190px;
    font-weight: bold;
}

.searchResultWindow .OK {
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 20px;
    left: 190px;
    font-weight: bold;
}

/**
 *  Search Results
 */

.searchResultWindow .resultFieldSet {
    position: absolute;
    width: 252px;
    height: 220px;
    top: 60px;
    right: 20px;
    padding-right: 0;
}

.searchResultWindow .searchResult {
    width: 252px;
    height: 216px;
}

.searchResultWindow .userCell {
    width: 234px;
    border-bottom: 1px dashed #FFFCF9;
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.searchResultWindow .userCell .avatar {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #e0e0f5;
    background-color: transparent;
    background-image: url(../images/icon-120.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.searchResultWindow .me {
    color: red;
}
