body {
    zoom: 1;
}
#panel-shell {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #26292C;
    opacity: 0.9;
    color: #00fe00;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Courier', 'Courier New', sans-serif;
    font-size: 0.9em;
    overflow: scroll;
}
#panel-shell .output-view {
    margin: 0 10px;
}
#panel-shell .shell-view {
    margin: 10px;
}
.blink {
    background-color: #00fe00;
    color: #000;
}
.output.error {
    color: rgb(253, 161, 18);
}

#tarsier-status {
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 2px 8px;
    z-index: 3333;
    background-color: #8e0000;
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    white-space: nowrap;"
}
