body {
    zoom: 1;
}
#panel-shell {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #26292C;
    opacity: 0.9;
    color: #00fe00;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Courier', 'Courier New', sans-serif;
    font-size: 0.9em;
    overflow: scroll;
}
#panel-shell .output-view {
    margin: 0 10px;
}
#panel-shell .shell-view {
    margin: 10px;
}
.blink {
    background-color: #00fe00;
    color: #000;
}
.output.error {
    color: rgb(253, 161, 18);
}

#tarsier-status {
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 2px 8px;
    z-index: 3333;
    background-color: #8e0000;
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    white-space: nowrap;"
}
#messages_div{
    height: 50px;
    overflow: auto;
}
.hideScroll::-webkit-scrollbar {
    display: none;
}
.mainHeight
{
    height: 800px;
}
.messagesCol
{
    position: relative;
}

.sendButton
{
    position: absolute;
    bottom: 18px;
    right: 32px;
}
#targetTitleRow
{
    border-bottom: 1px solid #f1f1f1;
}
#targetTitle
{

}

#messages_div .from_user_row{
    line-height: 200%;
    clear: both;
    overflow: auto;

}
#messages_div .text-row{
    line-height: 200%;
    overflow: auto;
    margin-bottom: 12px;
}
#messages_div .text-row .text-content{
    font-size: 16px;
}
#messages_div .fromMe{
    text-align: right;
}
#messages_div .myText .text-content{
    text-align: right;
    float: right;
}
#messages_div .otherText .text-content{
    float: left;
}

#message_textarea:focus{
    border: none;
    box-shadow:none;
}