<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DIMP Client" />
    <meta name="author" content="Albert Moky" />
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <script src='/js/sdk/3rd/crypto-js/core.js'></script>
    <script src='/js/sdk/3rd/crypto-js/cipher-core.js'></script>
    <script src='/js/sdk/3rd/crypto-js/aes.js'></script>
    <script src='/js/sdk/3rd/crypto-js/md5.js'></script>
    <script src='/js/sdk/3rd/crypto-js/sha256.js'></script>
    <script src='/js/sdk/3rd/crypto-js/ripemd160.js'></script>
    <script src='/js/sdk/3rd/jsencrypt.js'></script>
    <script src='/js/sdk/dimsdk.js'></script>
    <script src='/js/sdk/host58.js'></script>
    <script src='/js/sdk/bubble.js'></script>
    <script src='/js/sdk/clipboard.js'></script>
    <script src="/js/3rd/idb-3.0.2.min.js"></script>
    <script src='/js/dimc/protocol/search.js'></script>
    <script src='/js/dimc/cpu/default.js'></script>
    <script src='/js/dimc/cpu/handshake.js'></script>
    <script src='/js/dimc/cpu/receipt.js'></script>
    <script src='/js/dimc/cpu/search.js'></script>
    <script src='/js/dimc/extensions/register.js'></script>
    <script src='/js/dimc/extensions/password.js'></script>
    <script src='/js/dimc/network/fsm.js'></script>
    <script src='/js/dimc/network/delegate.js'></script>
    <script src='/js/dimc/network/request.js'></script>
    <script src='/js/dimc/network/server.js'></script>
    <script src='/js/dimc/database/table.js'></script>
    <script src='/js/dimc/database/meta.js'></script>
    <script src='/js/dimc/database/private.js'></script>
    <script src='/js/dimc/database/profile.js'></script>
    <script src='/js/dimc/database/user.js'></script>
    <script src='/js/dimc/database/message.js'></script>
    <script src='/js/dimc/database/contact.js'></script>
    <script src='/js/dimc/cache.js'></script>
    <script src='/js/dimc/ans.js'></script>
    <script src='/js/dimc/facebook.js'></script>
    <script src='/js/dimc/messenger.js'></script>
    <script src='/js/3rd/jquery-3.4.1.js'></script>
    <script src='/js/3rd/underscore-1.8.2.min.js'></script>
    <script src='/js/3rd/popper.min.js'></script>
    <script src='/js/3rd/bootstrap.min.js'></script>
    <script src='/js/3rd/vue.js'></script>
    <script src='/ui/js/appui.js'></script>
    <script src='/js/config.js'></script>
    <script src='/ui/js/ui.js'></script>

    <title>DIM Demo</title>
    <style>
        html, body {
        height: 100%;
    }
    </style>
</head>
<body class="fullpage">

<div id="vue1" class="container d-flex flex-column" style="min-height: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="#">DIM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled text-muted" href="#">{{user.identifier }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-muted" href="#">server: {{server.host}}:{{server.port}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" v-bind:class="{ 'text-success': serverStatus=='logged in', 'text-info':serverStatus=='connected'}">{{serverStatus}}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="flex-fill d-flex">
    <div class="d-flex flex-column col-4 bg-light">
        <div>
            <input type="radio" id="display_local_radio" value="local" v-model="display_list">
            <label for="display_local_radio">local</label>
            <input type="radio" id="display_online_radio" value="online" v-model="display_list">
            <label for="display_online_radio">online</label>
        </div>
        <div class="flex-fill" v-show="display_list=='local'">
            <div class="row mb-2">
                <div class="col-10">
                    <input type="text" placeholder="xxxx@addressxxxxxxxxxxxxxxxx" class="form-control" v-model="searchInput">
                </div>
                <div class="col-2" style="padding-left: 0;">
                    <button class="btn btn-block btn-outline-success" v-on:click="searchContact()">+</button>
                </div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" v-for="user in localContracts" v-on:click="changeTarget(user.identifier)"
                   v-bind:class="[target && target.toString() == user.identifier ? 'list-group-item-secondary' :'']"
                >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{user.identifier | getUserName}}</h5>
                    </div>
                    <p class="mb-1"></p>
                </a>
            </div>
        </div>
        <div class="flex-fill"  v-show="display_list=='online'">
            <div>
                <span>在线用户</span>
                <input type="button" value="refresh" class="float-right" v-on:click="refreshOnlineUsers()"/>
            </div>
            <select class="form-control" v-if="onlineUsers" size="20" v-model="selectedIdentifier">
                <option v-for="onlineUser in onlineUsers">{{onlineUser.string}}</option>
            </select>
        </div>
    </div>
    <div class="d-flex flex-fill flex-column messagesCol" v-if="target">
            <h5 id="targetTitle" class="p-3 pb-2 bg-light border-bottom">
                {{target.string}}
            </h5>
            <div id="messages_div" class="p-3 hideScroll border-bottom flex-fill" style="">
                <div v-for="message in messages.filter(m => m.sender == target.string || m.receiver == target.string )">
                    <div class="from_user_row" v-bind:class="{'fromMe': message.sender == user.identifier.toString()}">{{message.sender|getUserName}} <span class="text-muted">{{message.time | formatDate}}</span></div>
                    <div class="text-row" v-bind:class="[message.sender == user.identifier.toString() ? 'myText':'otherText']">
                        <span class="text-content badge text-wrap p-2" v-bind:class="[message.sender == user.identifier.toString() ? 'badge-success':'badge-light']">{{message.content.text}}</span></div>
                </div>
            </div>
            <div class="position-relative p-3">
                <textarea id="message_textarea" rows="5" v-model="textInput" class="form-control border-0" style="resize: none;" placeholder="Send Messages..." onkeydown="if(event.keyCode==13){vue.send();return false;}"></textarea>
                <button class="btn btn-primary sendButton" v-on:click="send()" style="right: 10px;bottom: 10px;">Send</button>
            </div>
    </div>
    </div>
</div>
<script>
    $(function () {
    });
</script>
</body>
</html>
